<div class="sidebar-container p-3">
  <!-- Título del Dashboard -->
  <div routerLink="/home" class="flex align-items-center mb-3">
    <i class="pi pi-clipboard text-2xl mr-2"></i>
    <h1 class="text-xl">Dashboard</h1>
  </div>

  <!-- Menú de Navegación -->
  <nav class="sidebar">
    <a class="link flex align-items-center p-2 border-round mb-2"
       routerLink="/home"
       routerLinkActive="active"
       ariaCurrentWhenActive="page">
      <i class="pi pi-home mr-2"></i>
      <span>Home</span>
    </a>
    <a class="link flex align-items-center p-2 border-round mb-2"
       routerLink="/payment-orders"
       routerLinkActive="active"
       ariaCurrentWhenActive="page">
      <i class="pi pi-shopping-cart mr-2"></i>
      <span>Orders</span>
    </a>
    <a class="link flex align-items-center p-2 border-round mb-2"
       routerLink="/users"
       routerLinkActive="active"
       ariaCurrentWhenActive="page">
      <i class="pi pi-users mr-2"></i>
      <span>Users</span>
    </a>
  </nav>



