<h3>Resumen de ventas anuales</h3>
<div class="charts-container">
  <p-card header="Ventas por mes">
    <p-chart type="bar" [data]="chartData" [options]="chartOptions"></p-chart>
  </p-card>

  <p-card header="Ventas por categoría">
    <p-chart type="pie" [data]="dishesChartData" [options]="chartOptions"></p-chart>
  </p-card>

  <p-card header="Estado de pedidos">
    <p-chart type="doughnut" [data]="ordersChartData" [options]="chartOptions"></p-chart>
  </p-card>
</div>




